<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>SteemConnect v2 - Demo App</title>
    <base href="/" />
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
    <script src="https://steemit.github.io/sc2-angular/sc2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/SC2Utils.js"></script>
    
    <style>
      hr { margin: 40px 0; }
      h3 { margin-bottom: 20px; }
    </style>
  </head>

  <body>
    <div id="vm">

      <!-- Handle Login/Logout button -->
      <a v-if="steemconnect.user == null" :href="loginUrl">Login</a>
      <a v-if="steemconnect.user != null" @click="logout">Logout</a>
      
      <div v-if="steemconnect.user != null">

        <!-- Show some user data -->
        <div>username : {{ steemconnect.user.name }}</div>
        <div>reputation : {{ steem.formatter.reputation(steemconnect.user.reputation) }}</div>
        <div>created : {{ formatDate(steemconnect.user.created) }}</div>

        <hr/>

        <!-- Show some blockchain interactions -->
        <div>
          <button @click="follow('comprendre-steem')">Follow @comprendre-steem</button>
          <button @click="unfollow('comprendre-steem')">Unfollow @comprendre-steem</button>
        </div>

      </div>
    </div>

    <!-- Starts the application -->
    <script src="js/App.js"></script>
  </body>

</html>